*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1.5rem;
  color: #1f2f56;
}

p,
a {
  font-size: 0.93rem;
  line-height: 1.7rem;
}

body {
  background-color: #e0e8ff;
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Red Hat Display", sans-serif;
}
@media (min-width: 680px) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
  }
}
body main {
  width: 100%;
  min-height: 100vh;
  padding-inline: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main article {
  width: 20.625rem;
  background-color: #f5f7ff;
  border-radius: 1.5rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 30px #7a9cff;
}
@media (min-width: 680px) {
  body main article {
    width: 28.125rem;
  }
}
body main article .ilustration {
  display: block;
  width: 100%;
  margin-bottom: 0.8rem;
}
body main article .text-container {
  padding: 1.5rem;
}
@media (min-width: 680px) {
  body main article .text-container {
    padding: 3rem;
  }
}
body main article .text-container h1 {
  margin-bottom: 1.75rem;
}
body main article .text-container p.main-p {
  color: #7280a7;
  margin-bottom: 1.75rem;
  margin-inline: auto;
  width: 90%;
}
body main article .text-container .chosen-plan-container {
  background-color: #edf0fb;
  border-radius: 0.6rem;
  padding: 1rem;
  margin-bottom: 1.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
body main article .text-container .chosen-plan-container .icon-plan {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body main article .text-container .chosen-plan-container .icon-plan img {
  margin-right: 1.25rem;
}
body main article .text-container .chosen-plan-container .icon-plan .plan-name-price .plan-name {
  font-weight: 700;
  color: #1f2f56;
  line-height: 1rem;
}
body main article .text-container .chosen-plan-container .icon-plan .plan-name-price .plan-price {
  color: #7280a7;
}
body main article .text-container .chosen-plan-container a {
  color: #3829e0;
}
body main article .text-container .chosen-plan-container a:hover {
  color: #766cf1;
}
body main article .text-container .btn {
  display: block;
  background-color: #3829e0;
  color: #f5f7ff;
  border-radius: 0.6rem;
  text-decoration: none;
  padding: 0.9rem;
  margin-bottom: 1.75rem;
  font-weight: 700;
  box-shadow: 0px 15px 20px #c1c7d8;
}
body main article .text-container .btn:hover {
  background-color: #766cf1;
}
body main article .text-container .cancel-order-btn {
  text-decoration: none;
  color: #7280a7;
  font-weight: 700;
}
body main article .text-container .cancel-order-btn:hover {
  color: #1f2f56;
}/*# sourceMappingURL=style.css.map */